/*  your css code here. If applicable */
.main{
	padding: 10px; 
	background-color:gray; 
	width: 350px; 
	margin: auto;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.btn{
	background-color: #fe625a;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 15px;
}